.App {
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 100vh;
}

ul {
    list-style: none;
    padding-left: 10px;
}

.App > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.todolist > h2 {
    font-size: 20px;
    width: 200px;
}


.task {
    font-weight: 600;
}

.task-done {
    opacity: 0.5;
    text-decoration: line-through;
}

.btn-filter-active {
    background-color: aquamarine;
}

.task-input-error {
    border: 2px solid red;
}
